body {
    font-family: 'Arial', sans-serif;
    background-color: #e9dede;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fffafaa0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    
    /* position: absolute;
    left: 0;
    margin-left: 50px; */
}

input, textarea, button {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #18ad1f;
}

/* .box-nama{
    background-color: #fffafaa0;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: absolute;
    left: 80%;
    margin-right: 20px;
    width: 200px;
    height: 300px;
}
li{
    color: black;
    font-size: 12px;
    list-style: none;
    text-align: left;
} */
